@font-face {
    font-family: "UntitledSans";
    src: url("fonts/untitled-sans-web-regular.woff2") format("truetype"),
        url("fonts/untitled-sans-web-regular.woff2") format("woff2"),
         url("fonts/untitled-sans-web-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "UntitledSans";
    src: url("fonts/untitled-sans-web-regular-italic.woff2") format("truetype"),
         url("fonts/untitled-sans-web-regular-italic.woff2") format("woff2"),
         url("fonts/untitled-sans-web-regular-italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "UntitledSans";
    src: url("fonts/untitled-sans-web-medium.woff2") format("truetype"),
         url("fonts/untitled-sans-web-medium.woff2") format("woff2"),
         url("fonts/untitled-sans-web-medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "UntitledSans";
    src: url("fonts/untitled-sans-web-medium-italic.woff2") format("truetype"),
         url("fonts/untitled-sans-web-medium-italic.woff") format("woff"),
         url("fonts/untitled-sans-web-medium-italic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "UntitledSans";
    src: url("fonts/untitled-sans-web-bold.woff2") format("truetype"),
         url("fonts/untitled-sans-web-bold.woff2") format("woff2"),
         url("fonts/untitled-sans-web-bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}